<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href='{% static "style.css" %}'/>
    {% block head_block %}{% endblock %}
  </head>
  <body>
    <div class="body">
    <div id="sidebar">
      <div class="text sidebar">
	  {{ user.username }}
      </div>
      <button type="button" onclick="location.assign(location.protocol+'//'+location.host+'/server/statistics/')">
        <div class="text button">
          СТАТИСТИКА
        </div>
      </button>
      {% if user.is_superuser %}
        <button type="button" onclick="location.assign(location.protocol+'//'+location.host+'/server/users/')">
          <div class="text button">
            ПОЛЬЗОВАТЕЛИ
          </div>
        </button>
      {% endif %}
      <button type="button" onclick="location.assign(location.protocol+'//'+location.host+'/server/logout/')">
        <div class="text button">
          ВЫХОД
        </div>
      </button>
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    </div>
  </body>
</html>
