{% extends "index.html" %}
{% load static %}
{% block head_block %}
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
   <script type="text/javascript" src='{% static "getGraphData.js" %}'></script>
   <script type="text/javascript">
     function getGraph(step) {
      const results = getGraphData({{ data }}, step);
      var container = document.getElementById('graph');
      if (results) {
        var minTrace = {x: results[0], y: results[1]};
        var maxTrace = {x: results[0], y: results[2]};
        var aveTrace = {x: results[0], y: results[3]};
        var graphs = (step == '5') ? [minTrace] : [minTrace, maxTrace, aveTrace];
      } else {
	var graphs = [];
      };
      var layout = {
        showlegend: false,
        height: 500,
        width: 1100,
	margin: {
          t: 50,
          b: 100,
	},
        xaxis: {
	  showline: true,
          tick0: results[4],
          dtick: 90*60000,
	  tickformat: "%d.%m.%Y\n%H:%M",
	  tickangle: -90,
        },
        yaxis: {
	  showline: true,
	  tickformat: "d",
        },
	font: {
	  family: "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif",
	  size: 14,
	},
      };
      Plotly.newPlot(container, graphs, layout);
     };

     function onButtonClick(step) {
       getGraph(step);
       document.querySelector('input[name="step"]').value = step;
       document.getElementById('5m').className = (step == '5') ? "select" : "";
       document.getElementById('30m').className = (step == '30') ? "select" : "";
     }
   </script>
{% endblock %}
{% block content %}
  <div id="graph"></div>
  <div class="body">
      <div class="inline">
        <button id="5m" type="button" onclick='onButtonClick("5")'>
          <div class="text button switch">5m</div>
        </button>
        <button id="30m" type="button" onclick='onButtonClick("30")'>
          <div class="text button switch">30m</div>
        </button>
      </div>
      <div class="text bottom">
        <form method="post" action="{% url 'statistics' %}" >
        {% csrf_token %}
  	  Диапазон:
          <span class="text bottom">{{ form.start }}</span>
  	  -
          <span class="text bottom">{{ form.end }}</span>
          <input class="text button" type="submit" value="Показать" />
          <input type="hidden" name="step" value={{ form.step }}
        </form>
      </div>
      <div class="text sidebar">
	 Последнее изменение: {{ client.last_modified|date:"d.m.Y H:i:s" }}
      </div>
  </div>
  <div class="body">
      {% if form.errors %}
        <div class="text bottom errors">{{ form.start.errors }}</div>
        <div class="text bottom errors">{{ form.end.errors }}</div>
      {% endif %}
  </div>

  <script type="text/javascript">
      var step = {{ form.step.value }};
      onButtonClick(step);
  </script>
{% endblock %}
