{% extends "index.html" %}
{% block content %}
<form method="post" action="{% url 'user_password_change' user_id=user_id %}">
{% csrf_token %}
<table>
{% for field in form %}
<tr>
    <td class="text">{{ field.label_tag }}</td>
    <td class="text">{{ field }}</td>
    <td class="text">{{ field.errors }}</td>
</tr>
{% endfor %}
<tr>
  <td><input class="text button" type="submit" value="update" /></td>
  <td><input class="text button" type="button" value="cancel" onclick="location.assign(location.protocol+'//'+location.host+'/server/users/')"/></td>
</tr>
</table>
</form>
{% endblock %}
